.widget {
  margin: 0 0 $gap-sm;
  padding: $gap-sm;

  color: $color-light;
  border-radius: 7px;

  @include bg-color;


  h3 {
    margin-top: 5px;

    @include block-header;
  }

  p {
    line-height: 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
